# language: python
# python:
#   - "3.6"
# install:
#   - pip install pycodestyle
#   - sudo apt-get -y -q install tree
# script:
#   # - pycodestyle --show-source --show-pep8 --format=default console_utility_test/console_utility_test.py
#   - mkdir -p ~/bin
#   - sudo ln -fs /home/travis/virtualenv/python3.6.3/bin/pip /usr/bin/pip3
#   - bash scripts/test.sh

language: python

python:
  - "3.4"
  - "3.5"
  - "3.6"

# Workaround for "Unable to download 3.7 archive. The archive may not exist. Please consider a different version." error
# Enable 3.7 without globally enabling sudo and dist: xenial for other build jobs
matrix:
  include:
    - python: 3.7
      dist: xenial
      sudo: true

script: python -V

jobs:
  fast_finish: true
  include:
    - stage: deploy
      if: tag IS present
      install: skip
      script:
        - echo "Stage ==> deploy"
